.home-content {
    display: flex;
    justify-content: flex-start;
    height: 855px;
    border-radius: 50%/ 0 0 40px 40px;
  }
  
  .homeContentText {
    display: inline-flex;
    width: 360px;
    margin-left: 10%;
    margin-top: 0px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position:-webkit-sticky;
    left: 50px;
    
  }
  
  .title {
    font-size: 80px;
    margin: 10px;
    margin-top: 0px;
    color: #fdc001;
    font-weight: 400;
  }
  
  .homeContentTextP {
    color: #910a0a;
    font-size: 20px;
    font-weight: bold;
    margin-top: 2rem;
  }
  
  .titleBold {
    font-size: 90px;
    color: #fdc001;
    font-weight: 800;
    margin-bottom: 10px;
    text-shadow: 2px 2px #ff0000;
    
  }
  
  .home-content-image {
    width: 800px;
    position: relative;
    top: 64px;
    right: 80px;
  }
  
  .homeContentImage {
    width: 50%;
    opacity: 100%;
    margin-top: 180px;
    padding-bottom: 60px;
    padding-left: 20rem;
  }
  .carouselItem{
    width: 900px;
    padding: 0%;
    margin-top: 40px;
    margin-left: 250px;
  }
.carouselImg{
  width: 900px;
  margin-top: 50px;
  margin-bottom: 0px;
  margin-left: 60px;
}